nav {
  margin: 0 0 10px;
  padding: 0 0 20px;
  border-bottom: 1px solid #DCE5F2;

  a {
    background: #3A4250;
    color: #FFFFFF;
    padding: 4px 10px;
    margin: 0 2px;
    border-radius: 2px;

    &.active {
      color: #B690F1;
      background: #363C48;
    }
  }
}